body{
  font-family: sans-serif;

  margin: 0;
}

header{
  background-color: #e0e0e0;
  margin: auto;
  max-width: 1249px;
  padding: 0px 100px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #000000;
  max-width: 1249px;
}

nav ul{
  margin: 0px;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #e0e0e0;
  font-size: 14px;
  font-weight: bold;
  padding: 39px 30px 30px;
}

nav ul li a:hover{
  background-color: #ff3f40;
}

.first{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 1249px;
  margin: auto;
  background-color: #e0e0e0;
  padding: 100px;
}

.first div{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 45%;
}

.first div h1{
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 37px;
}

.first div h1 .style-text{
  letter-spacing: 6px;
  word-break: break-word;
}

.first p{
  color: #a5a3a3;
  line-height: 25px;
  max-width: 500px;
}

.first div button{
  border: 0px;
  border-radius: 10px;
  background-color: #ff2d2d;
  color: #ffffff;
  padding: 20px 62px;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-start;
  margin-top: 62px;
}

.second{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1249px;
  margin: 0 auto;
  padding: 100px;
  border-bottom: 1px solid #ececec;
}

.second >div{
  max-width: 45%;
}

#left h2{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 55px;
  color: #585858;
  margin-top: 0px;
}

#left p{
  line-height: 25px;
}

#left button{
  border-radius: 5px;
  border: 2px solid #ff3f40;
  color: #ff3f40;
  background-color: #ffffff;
  padding: 16px 0;
  text-align: center;
  width: 227px;
  align-self: flex-end;
  margin-top: 50px;
}

#right{
  display: flex;
  flex-wrap: wrap;
}

#right div{
  max-width: 48%;
  margin-bottom: 50px;
}

#right h3{
  margin-bottom: 10px;
  letter-spacing: 1.5px;
  font-size: 22px;
}

#right p{
  font-size: 16px;
  line-height: 28px;
}

.third{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1249px;
  margin: 0 auto;
  padding: 100px;
}

#featureProducts h2{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 55px;
  color: #585858;
  margin-top: 0px;
}

.third ul li{
  display: inline-block;
}
