body{
  font-family: sans-serif;
  background-color: #e0e0e0;
  margin: 0;
}

#header{
  background-color: #e0e0e0;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #000000;
  max-width: 1249px;
}

header ul{
  margin: 0px;
}

header ul li{
  display: inline-block;
}

header ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #e0e0e0;
  font-size: 14px;
  font-weight: bold;
  padding: 39px 30px 30px;
}

header ul li a:hover{
  background-color: #ff3f40;
}

.first{
  display: flex;
  align-items: top;
  justify-content: center;
  max-width: 1249px;
}

.first p{
  display: inline-block;
}
